<h2><%= @student.first_name %> <%= @student.last_name %></h2>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> |
<%= link_to 'My Schedule', student_schedules_path(@current_student) %>