<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Classroom</th>
      <th>Teacher</th>
      <th>Start at:</th>
      <th>Finish at:</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.subject.name %></td>
        <td><%= section.classroom.name %></td>
        <td><%= section.teacher.first_and_last_name %></td>
        <td><%= section.short_start_time %></td>
        <td><%= section.short_finish_time %></td>
        <td><%= link_to 'Add', student_schedules_path(@current_student, section_id: section.id), method: :post %></td>
        <td><%= link_to 'Show', section %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
