<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>"><%= message %></div>
    <% end %>
    <%= link_to 'Subjects', subjects_path %>
    <%= link_to 'Teachers', teachers_path %>
    <%= link_to 'Students', students_path %>
    <%= link_to 'Sections', sections_path %>
    <%= link_to 'Schedule', student_schedules_path(@current_student) %>
    <br>
    <%= yield %>
  </body>
</html>
